.main{
    .thu-chi{
        .chi{
            border-radius: 30px 40px 40px 30px;
        }
        .thu{
            border-radius: 40px 30px 30px 40px;
        }
    }
    .content1{
        background-color: #0088FE;
        border-radius: 10px;
        border-color: #0088FE;
        width: 40px;
        height: 40px;
    }
    .content2{
        background-color: #00C49F;
        border-radius: 10px;
        border-color: #00C49F;
        width: 40px;
        height: 40px;
    }
    .content3{
        background-color: #FFBB28;
        border-radius: 10px;
        border-color: #FFBB28;
        width: 40px;
        height: 40px;
    }
    .content4{
        background-color: #FF8042;
        border-radius: 10px;
        border-color: #FF8042;
        width: 40px;
        height: 40px;
    }
    .content5{
        background-color: purple;
        border-radius: 10px;
        border-color: purple;
        width: 40px;
        height: 40px;
    }
    .content6{
        background-color: pink;
        border-radius: 10px;
        border-color: pink;
        width: 40px;
        height: 40px;
    }
    .content7{
        background-color: blue;
        border-radius: 10px;
        border-color: blue;
        width: 40px;
        height: 40px;
    }
   
}