.clickbtn{
    button{
        justify-content: flex-start;
        padding: 15px 20px;
        border-radius: 50px;
        background-color: white;
    }
    .icon {
        min-width: 30px;
    }
}